<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher To-Do Students</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>
    <header>
        <div class="content-width">
            <h1><img src="Icon.png" alt="Team Logo" width="80" height="80"> Teacher To-Do  </h1>
            <h2> <strong>A project devoted to helping new student teachers.</strong> </h2>
            <p class="titleText">Hello, Professor Doe!</p>
        </div>
    </header>

    <div class = "container-md">
        <div class = "row">
            <div class="col-md">
                <h1>Upcoming Tasks</h1>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5><strong>Thomas Doe</strong></h5>
                        </button>
                      </h2>
                      <div class = "container-md">
                        <div class = "row">
                            <div class="col-md">

                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h5><strong>Submit Score of Arizona Teacher Proficiency Assessment</strong></h5>
                                        </button>
                                      </h2>
                                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>You must upload a passing score for administrator review on the required subject knowledge portion of the 
                                                Arizona Teacher Proficiency Assessment that corresponds to the teaching certificate that you are pursuing. </p>
                                            <p>Due 1-1-2022</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <h5><strong>Submit Degree Transcripts</strong></h5>
                                        </button>
                                      </h2>
                                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>You must submit your official transcripts documenting a Bachelors or more advanced degree.</p>
                                            <p>Due 1-1-2022</p>
                                            <p class="urgentText">Note: this is only applicable if you will be teaching in a special education classroom for your capstone.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <h5><strong>Complete STIC Application</strong></h5>
                                        </button>
                                      </h2>
                                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Complete the Application for Student Teaching Intern Certificate to be submitted and reviewed by an administrator. You can submit this application only when you have completed the EPP Request and the STIC request form.</p>
                                            <p>Due 1-1-2022</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="accordion" id="accordionExample2">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <h5 class="pendingTitle"><strong>Submit EPP Supervision Plan</strong></h5>
                                    </button>
                                  </h2>
                                  <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p class="pendingText"><strong>Pending Approval by Administrator...</strong></p>
                                        <p>Upload the written supervison plan created by the EPP Provider regarding onsite 
                                            mentorship and induction to be approved by the Arizona Board of Education.</p>
                                            <p>Due 12-10-2022</p>
                                            
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <h5 class="urgentTitle"><strong>Upload STIC Request for Issuance</strong></h5>
                                    </button>
                                  </h2>
                                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>Upload a District or Charter School Request for Issuance of the Student Teaching Intern Certificate signed by the
                                            superintendent before the due date. </p>
                                        <p>Due 12-1-2022</p>
                                        <p class="urgentText"><strong>Note: You must submit this request before the due date or you will not be considered for the program for this year.</strong></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <h5><strong>Submit Score for the Arizona Teacher Proficiency Assessment</strong></h5>
                                    </button>
                                  </h2>
                                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>Upload a passing score on the required professional knowledge portion of the Arizona Teacher 
                                            Proficiency Assessment that corresponds to the teaching certificate that you are pursuing. </p>
                                        <p>Due 12-10-2022</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="accordion" id="accordionExample3">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                    <h5><strong>Upload Current GPA Score</strong></h5>
                                </button>
                              </h2>
                              <div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <p>Upload your current GPA score to the administrator for approval by 12-1-2022. The GPA must be at or above a score of 3.0</p>
                                    <h6>Task Completed: 10-12-2022</h6>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <h5><strong>Confirm Capstone Enrollment</strong></h5>
                                </button>
                              </h2>
                              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <p>Ensure enrollment and current passage of the culminating student teaching capstone experience of an Arizona Board approved educator preparation program</p>
                                    <h6>Task Completed: 10-11-2022</h6>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingNine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <h5><strong>Request Fingerprint Card</strong></h5>
                                </button>
                              </h2>
                              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <p>Request an Arizona Department of Public Safety Identity Verified Prints (IVP) fingerprint clearance card from the ADPS by 12-1-2022.</p>
                                    <h6>Task Completed: 10-9-2022</h6>
                                </div>
                              </div>
                            </div>
                          </div>





                        </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5><strong>John Doe</strong></h5>
                        </button>
                      </h2>
                      <div class = "container-md">
                        <div class = "row">
                            <div class="col-md">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h5><strong>Submit Score of Arizona Teacher Proficiency Assessment</strong></h5>
                                        </button>
                                      </h2>
                                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>You must upload a passing score for administrator review on the required subject knowledge portion of the 
                                                Arizona Teacher Proficiency Assessment that corresponds to the teaching certificate that you are pursuing. </p>
                                            <p>Due 1-1-2022</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <h5><strong>Submit Degree Transcripts</strong></h5>
                                        </button>
                                      </h2>
                                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>You must submit your official transcripts documenting a Bachelors or more advanced degree.</p>
                                            <p>Due 1-1-2022</p>
                                            <p class="urgentText">Note: this is only applicable if you will be teaching in a special education classroom for your capstone.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <h5><strong>Complete STIC Application</strong></h5>
                                        </button>
                                      </h2>
                                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Complete the Application for Student Teaching Intern Certificate to be submitted and reviewed by an administrator. You can submit this application only when you have completed the EPP Request and the STIC request form.</p>
                                            <p>Due 1-1-2022</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="accordion" id="accordionExample2">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <h5 class="pendingTitle"><strong>Submit EPP Supervision Plan</strong></h5>
                                    </button>
                                  </h2>
                                  <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p class="pendingText"><strong>Pending Approval by Administrator...</strong></p>
                                        <p>Upload the written supervison plan created by the EPP Provider regarding onsite 
                                            mentorship and induction to be approved by the Arizona Board of Education.</p>
                                            <p>Due 12-10-2022</p>
                                            
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <h5 class="urgentTitle"><strong>Upload STIC Request for Issuance</strong></h5>
                                    </button>
                                  </h2>
                                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>Upload a District or Charter School Request for Issuance of the Student Teaching Intern Certificate signed by the
                                            superintendent before the due date. </p>
                                        <p>Due 12-1-2022</p>
                                        <p class="urgentText"><strong>Note: You must submit this request before the due date or you will not be considered for the program for this year.</strong></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <h5><strong>Submit Score for the Arizona Teacher Proficiency Assessment</strong></h5>
                                    </button>
                                  </h2>
                                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>Upload a passing score on the required professional knowledge portion of the Arizona Teacher 
                                            Proficiency Assessment that corresponds to the teaching certificate that you are pursuing. </p>
                                        <p>Due 12-10-2022</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="accordion" id="accordionExample3">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                    <h5><strong>Upload Current GPA Score</strong></h5>
                                </button>
                              </h2>
                              <div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <p>Upload your current GPA score to the administrator for approval by 12-1-2022. The GPA must be at or above a score of 3.0</p>
                                    <h6>Task Completed: 10-12-2022</h6>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <h5><strong>Confirm Capstone Enrollment</strong></h5>
                                </button>
                              </h2>
                              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <p>Ensure enrollment and current passage of the culminating student teaching capstone experience of an Arizona Board approved educator preparation program</p>
                                    <h6>Task Completed: 10-11-2022</h6>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingNine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <h5><strong>Request Fingerprint Card</strong></h5>
                                </button>
                              </h2>
                              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <p>Request an Arizona Department of Public Safety Identity Verified Prints (IVP) fingerprint clearance card from the ADPS by 12-1-2022.</p>
                                    <h6>Task Completed: 10-9-2022</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h5><strong>Jodie Doe</strong></h5>
                        </button>
                      </h2>
                      <div class = "container-md">
                        <div class = "row">
                            <div class="col-md">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h5><strong>Submit Score of Arizona Teacher Proficiency Assessment</strong></h5>
                                        </button>
                                      </h2>
                                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>You must upload a passing score for administrator review on the required subject knowledge portion of the 
                                                Arizona Teacher Proficiency Assessment that corresponds to the teaching certificate that you are pursuing. </p>
                                            <p>Due 1-1-2022</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <h5><strong>Submit Degree Transcripts</strong></h5>
                                        </button>
                                      </h2>
                                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>You must submit your official transcripts documenting a Bachelors or more advanced degree.</p>
                                            <p>Due 1-1-2022</p>
                                            <p class="urgentText">Note: this is only applicable if you will be teaching in a special education classroom for your capstone.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <h5><strong>Complete STIC Application</strong></h5>
                                        </button>
                                      </h2>
                                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Complete the Application for Student Teaching Intern Certificate to be submitted and reviewed by an administrator. You can submit this application only when you have completed the EPP Request and the STIC request form.</p>
                                            <p>Due 1-1-2022</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="accordion" id="accordionExample2">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <h5 class="pendingTitle"><strong>Submit EPP Supervision Plan</strong></h5>
                                    </button>
                                  </h2>
                                  <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p class="pendingText"><strong>Pending Approval by Administrator...</strong></p>
                                        <p>Upload the written supervison plan created by the EPP Provider regarding onsite 
                                            mentorship and induction to be approved by the Arizona Board of Education.</p>
                                            <p>Due 12-10-2022</p>
                                            
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <h5 class="urgentTitle"><strong>Upload STIC Request for Issuance</strong></h5>
                                    </button>
                                  </h2>
                                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>Upload a District or Charter School Request for Issuance of the Student Teaching Intern Certificate signed by the
                                            superintendent before the due date. </p>
                                        <p>Due 12-1-2022</p>
                                        <p class="urgentText"><strong>Note: You must submit this request before the due date or you will not be considered for the program for this year.</strong></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <h5><strong>Submit Score for the Arizona Teacher Proficiency Assessment</strong></h5>
                                    </button>
                                  </h2>
                                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>Upload a passing score on the required professional knowledge portion of the Arizona Teacher 
                                            Proficiency Assessment that corresponds to the teaching certificate that you are pursuing. </p>
                                        <p>Due 12-10-2022</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="accordion" id="accordionExample3">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                    <h5><strong>Upload Current GPA Score</strong></h5>
                                </button>
                              </h2>
                              <div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <p>Upload your current GPA score to the administrator for approval by 12-1-2022. The GPA must be at or above a score of 3.0</p>
                                    <h6>Task Completed: 10-12-2022</h6>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <h5><strong>Confirm Capstone Enrollment</strong></h5>
                                </button>
                              </h2>
                              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <p>Ensure enrollment and current passage of the culminating student teaching capstone experience of an Arizona Board approved educator preparation program</p>
                                    <h6>Task Completed: 10-11-2022</h6>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingNine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <h5><strong>Request Fingerprint Card</strong></h5>
                                </button>
                              </h2>
                              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <p>Request an Arizona Department of Public Safety Identity Verified Prints (IVP) fingerprint clearance card from the ADPS by 12-1-2022.</p>
                                    <h6>Task Completed: 10-9-2022</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>

            <script src="bootstrap/js/bootstrap.js"></script>
</body>
</html>